

<section id="home-section" class="home-section">
    <div class="gsthome-main-wrapper">
        <div class="navbar-bg">
            
        </div>
        <div id="home-wrapper" class="home-wrapper">

            <div class="home-div1">
    
                <a style="pointer-events: none;" href="/regular"><button class="home-btn">Regular GST</button></a>
    
            </div>
    
            <hr>
            <p>|</p>
    
            <div class="home-div2">
    
                <a href="/contactlist"><button class="home-btn">Reverse GST</button></a>
    
            </div>
    
        </div>

    </div>

    

</section>