
<!-- BEGIN split-slider -->

	<button class="explore"><a href="#collection">Explore</a></button>
<div class="split-slider__placeholder">

</div>

<div class="split-slider">
	
	<div class="split-slider__placeholder">
		<p>~ Please wait while we load a beautiful animation for you</p>
	</div>

	<!-- BEGIN slide -->
	<figure class="slide slide_active slide_wait">
		<div class="slide__image">
			<div class="slide__image-part slide__image-part_left"></div>
			<div class="slide__image-part slide__image-part_right"></div>
		</div>
	</figure>
	<!--END slide -->
	
	<!-- BEGIN slide -->
	<figure class="slide slide_wait">
		<div class="slide__image">
			<div class="slide__image-part slide__image-part_left"></div>
			<div class="slide__image-part slide__image-part_right"></div>
		</div>
	</figure>
	<!--END slide -->
	
	<!-- BEGIN slide -->
	<figure class="slide slide_wait">
		<div class="slide__image">
			<div class="slide__image-part slide__image-part_left"></div>
			<div class="slide__image-part slide__image-part_right"></div>
		</div>
	</figure>
	<!--END slide -->
	
	<!-- BEGIN slide -->
	<figure class="slide slide_wait">
		<div class="slide__image">
			<div class="slide__image-part slide__image-part_left"></div>
			<div class="slide__image-part slide__image-part_right"></div>
		</div>
	</figure>
	<!--END slide -->
</div>
<!-- END split-slider -->

                                    <!-- Collection Section -->

<section id="collection" class="collection">
    <h1 class="hr-lines">Show Case Jewelry</h1>
    <div class="main-wrapper">
        <div class="wrapper-line1">
            <div class="wrapper wrapper1"><img src="/img/showcase/stud.jpg" alt=""></div>
            <div class="wrapper wrapper2"><img src="/img/showcase/rings.jpg" alt=""></div>
            <div class="wrapper wrapper3"><img src="/img/showcase/bangles.jpg" alt=""></div>
            <div class="wrapper wrapper4"><img src="/img/showcase/necklace1.jpg" alt=""></div>
        </div>
        
        <div class="wrapper-line2">
            <div class="wrapper wrapper1"><img src="/img/showcase/mangalsutra.jpg" alt=""></div>
            <div class="wrapper wrapper2"><img src="/img/showcase/chainset.jpg" alt=""></div>
            <div class="wrapper wrapper3"><img src="/img/showcase/kada.jpg" alt=""></div>
            <div class="wrapper wrapper4"><img src="/img/showcase/pendant.jpg" alt=""></div>
        </div>
        
    </div>
</section>